@import './variables.scss';
@import './mixins.scss';

.container {
  font-family: $secondary_font;
  min-width: 40%;
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 5px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  @include layout(column, center, center);
  padding: 5px;

  @media screen and (max-width: $tablet) {
    min-width: 80%;
  }
}

.wrapper {
  width: 100%;
  height: calc(100vh - #{$header_h} - #{$footer_h});
  padding: 5px;

  @include layout(row, center, center);
}

.group {
  width: 100%;
  a,
  p {
    cursor: pointer;
    @include layout(row, center, flex-start);
    margin: 3% 0 3% 10%;
    color: #fffdfe !important;
    font-size: 1.35em;
    svg {
      font-size: 1.75em;
      margin-right: 15px;
      color: #da7130;
    }
    text-decoration: none !important;
  }

  @media screen and (max-width: $tablet) {
    a,
    p {
      font-size: 0.85em;
    }
  }
}
