@import './variables.scss';
@import './mixins.scss';

.container {
  @include layout(row, center, flex-start);
  flex-flow: row wrap;
  padding: 1% 0 2% 1.5%;
  font-family: $secondary_font;
}

.card {
  width: 45%;
  position: relative;

  @media (max-width: $desktop) {
    width: 48%;
  }

  @media (max-width: $small_laptop) {
    width: 70%;
  }

  @media (max-width: $tablet) {
    width: 90%;
  }

  @media (max-width: $phone) {
    width: 90%;
  }

  @include layout(row, center, flex-start);

  margin: 1% 1% 0 0;
  padding: 0.5% 1% 0 1%;
  background-color: rgba(255, 255, 255, 0.1);
  color: $alb;
  border-radius: 4px;

  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  .info {
    @include layout(column, flex-start, flex-start);
    height: 260px;
    width: calc(100% - 300px - 40px);
    margin: 10px;
    padding-bottom: 20px;

    p {
      text-align: left;
      font-size: 0.8em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h4,
    a {
      margin: 5px 0 0 0;
      text-align: left;
      width: 100%;
      text-decoration: none;
      color: $alb;
    }

    .location {
      font-size: 0.8em;
      margin: 5px 0 5px 0;
      opacity: 0.8;
    }

    @media (max-width: $phone) {
      width: calc(100% - 100px - 2%);
    }
  }
}

.background {
  height: 260px;
  width: 300px;
  margin: 0 3%;

  @include sweep-to-bottom();
  border-radius: 4px;
  position: relative;

  @media (max-width: $phone) {
    height: 150px;
    width: 100px;
  }

  img {
    height: 240px;
    width: 300px;

    object-fit: cover;
    border-radius: 4px;

    z-index: 1;

    @media (max-width: $phone) {
      height: 150px;
      width: 100px;
    }
  }
}

.date {
  position: absolute;
  right: 5%;
  bottom: 2%;
  opacity: 0.75;
}

.page {
  @include layout(row, center, flex-start);
  flex-flow: row wrap;
  padding: 1% 0 2% 1.5%;
  font-family: $secondary_font;
  width: 90%;

  h1 {
    text-align: left;
    width: 100%;
    margin: 1% 0 0.5% 0.5%;
    font-size: 3.5vw;
  }
  p {
    text-align: left;
    width: 100%;

    &:nth-child(2) {
      margin: 0 1% 1% 0.5%;
      font-size: 1em;
    }

    &:nth-child(3) {
      margin: 3% 1% 1% 0.5%;
      font-size: 1.2em;
      width: 80%;
    }
  }
}

.slideshow {
  background-color: transparent;
  img {
    margin: auto;
  }
}
