@import './variables.scss';
@import './mixins.scss';

.content {
  background-color: $grena;
  color: $alb;

  font-family: $primary_font;

  min-height: calc(100vh - #{$header_h} - #{$footer_h});
  width: 100%;

  overflow: auto;
}

.header {
  height: $header_h;
  width: 100%;

  background-color: $grena;
  @include layout(row, center, flex-start);

  img {
    height: 80%;
    padding: 1.5vh 0 0 1.5vw;

    @media (max-width: $phone) {
      height: 50%;
      padding: 1.5vh 0 0 3.5vw;
    }
  }

  .links {
    width: 90%;
    @include layout(row, center, flex-end);
    padding-top: 2vh;
  }

  a {
    color: $alb;
    font-family: $secondary_font;
    text-decoration: none !important;
    margin: 0 10px;
    font-size: 1.2em;
    border-bottom: 2px solid transparent;
    transition: all 0.7s linear;

    position: relative;

    svg {
      position: absolute;
      top: -2vh;
      left: 30%;
    }

    @media (max-width: $phone) {
      font-size: 0.7em;
      margin: 0 5px;
    }
  }

  .normal {
    &:hover {
      border-bottom: 2px solid $portocaliu;
      color: $alb;
      text-decoration: none !important;
    }

    &:active {
      color: $portocaliu;
    }
  }
  .active {
    border-bottom: 2px solid $portocaliu;
    color: $portocaliu;
  }
}

.footer {
  height: $footer_h;
  @include layout(row, center, flex-end);

  img {
    height: 90%;

    padding-right: 2vw;

    @media (max-width: $phone) {
      height: 10vw;
    }
  }
}

.events {
  position: relative;

  .menu {
    display: none;

    // transition: visibility 0.5s linear;
  }

  &:hover {
    display: inline-block;
    position: relative;

    .menu {
      margin-top: 20px;
      @include layout(column, center, flex-end);
      position: absolute;

      z-index: 20;

      background-color: rgba(255, 255, 255, 1);

      border-radius: 4px;

      a {
        padding: 5px;
        color: $gri_inchis;

        &:hover {
          color: $gri_inchis;
        }
      }
    }
  }
}
