// main colors
$portocaliu: #da7130;
$grena: #481421;
$alb: #fffdfe;
$gri_inchis: #3d3242;
$gri_deschis: #695e6c;

// dimensiuni
$header_h: 12vh;
$footer_h: 10vh;

// breakpoints media
$small_screen: 350px;
$phone: 600px;
$tablet: 768px;
$small_laptop: 992px;
$desktop: 1200px;

// fonts
$primary_font: 'Montserrat';
$secondary_font: 'Zekton';

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
